CONNECTION_STRING=Host=YOUR_SUPABASE_HOST;Port=5432;Database=postgres;Username=YOUR_USERNAME;Password=YOUR_PASSWORD;SSL Mode=Require;Trust Server Certificate=true

BLOCKCHAIN_RPC_URL=http://host.docker.internal:8545
BLOCKCHAIN_CONTRACT_ADDRESS=0xYOUR_CONTRACT_ADDRESS
BLOCKCHAIN_SYSTEM_PRIVATE_KEY=0xYOUR_LOCAL_DEMO_SYSTEM_PRIVATE_KEY
